@implements IDisposable
@inject IShoppingCartService ShoppingCartService

<a href="ShoppingCart">
    <i class="fa fa-cart"></i>&nbsp;Cart
    <span class="badge bg-dark">@shoppingCartItemCount</span>
</a>

@code {
    private int shoppingCartItemCount = 0;

    protected override void OnInitialized()
    {
        //subsicrab to the event created in shoppingcartItem class/service

        ShoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
    }

    protected void ShoppingCartChanged(int totalQty)
    {
        shoppingCartItemCount = totalQty;
        //explicitly rerendering the relavent blazor component
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        //unsubsicribe
        ShoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }
}
